* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Roboto", "Helvetica", sans-serif;
}
header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  color: #FFF;
  width: 100vw;
  height: 80px;
  font-size: 30px;
  background-image: linear-gradient(#EE5353, #D92223);
  z-index: 999;
}
header .logo {
  font-weight: 700;
  margin-left: 24px;
}
header .contacts {
  width: 125px;
  display: flex;
  justify-content: space-between;
  margin-right: 24px;
  transition: 0.5s ease;
}
main {
  color: white;
  margin-top: 80px;
  width: 100vw;
  height: 946px;
}

.bg-photo {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7) 100%), 
  url(./bg.webp) 
  no-repeat center;
  width: 100%;
  height: 100%;
  background-size: cover;
  padding: 59px;
  
}
.bg-photo .main-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bg-photo small {
  font-size: 30px;
  font-weight: 400;
}
.bg-photo h1 {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 41px;
}
.bg-photo a{
  margin-left: 23px;
  background-color: #EE5253;
  padding: 16px 59px;
  color: #FFF;
  text-decoration: none;
  border-radius: 8px;
  width: 290px;
  text-align: center;
  box-shadow: 3px 3px 3px #1a1a1a;
  font-weight: bold;
}
.bg-photo a:hover {
  opacity: 0.8;
}
section {
  height: 100%;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}
section::after {
  line-height:0;
  padding: 0;
  margin: 0;
  position: relative;
  left:0;
  right:0;
  bottom: 120px;
  width:100vw;
  height:100px;
  background-color: transparent;
  border:solid;
  border-color: transparent #EAEAEA #EAEAEA transparent;
  box-sizing: border-box;
  border-width:30px 100vw 90px 0px;
  content: "";
}
.aboutus {
  display: flex;
  justify-content: center;
}

.aboutus-left {
  margin-top: 86px;
  margin-left: 20px;
  width:500px;
  font-size: 22px;
}
.aboutus-left h3, aside h3 {
  font-size: 50px;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
aside .form-description {
  display: flex;
  flex-direction: column;
  width: 960px;
}
aside p {
  margin: 21px 0px 37px 0px;
  font-size: 22px;
}
aside .warning {
  margin: 10px 0;
  font-size: 22px;
  height: 30px;
  transition: 0.8s ease-in;
  
}
fieldset {
  border: none;
  display: flex;
  font-size: 14px;
  margin-bottom: 50px;
}
fieldset input {
  width: 300px;
  height: 60px;
  border-radius: 8px;
  margin-right: 20px;
  padding: 15px;
}
fieldset button {
  height: 60px;
  align-self: flex-end;
  width: 300px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  background-color: #10AC84;
  border: none;
  border-radius: 8px;
  cursor:pointer;
}
fieldset button:hover {
  opacity: 0.8;
}
footer {
  background-color: #EAEAEA;
  width: 100%;
  height: 90px;
  padding: 30px 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}

/* CONDITIONAL STYLES */
.green {
  color: green;
  
}

.red {
  color: red;
}


/* RESPONSIVITY */

@media (max-width: 955px) {
  .aboutus {
    flex-direction: column;
    align-items: center;
  }
  .aboutus-left  {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 90%;
  }
  
  aside {
    height: 100%;
    justify-content: center;
  }
  aside .form-description {
    width: 100vw;
    height: inherit;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
  fieldset {
    flex-direction: column;
  }
  fieldset input {
    margin:20px 0;
    border: 1px solid #cdcdcd;
  }
}
@media (max-width: 600px) {
  .bg-photo {
    padding:0 0 0 20px;

  }
  .bg-photo .main-text {
    width: 100%
  }
  .main-text small {
    font-size: 20px;
  }
  .main-text h1 {
    font-size: 40px;
  }
  .main-text a {
    margin: 0;
  }
  .aboutus-left h3, aside h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .aboutus-left p, aside p {
    font-size: 14px;
  }
  .aboutus-right {
    width: 100%;
  }
  .aboutus-right img {
    width: 100%;
    height: auto;
  }
}

@media  (max-width: 350px) {
  main {
    margin:0;
  }
  header {
    height: 40px;
  }
  header .logo {
    font-size: 20px;
  }
  header .contacts img {
    width: 16px;
  }  
  .main-text a {
    width: 90%;
  }
  fieldset {
    justify-content: center;
    align-items: center ;
    width: 100%;
  }
  fieldset label {
    width: 90%;
    text-align: center;
  }
  fieldset label input {
    width: 100%;

  }
  fieldset button {
    width: 200px;
    align-self: center;
  }
  

}